<%- include('partials/header') -%>

<section id="bookVote" class="bg-info">
    <div class="">
        <a class="btn btn-outline-light btn-lg m-2" href="/books/booksearch" role="button">Add a Book</a>
        </div>
    <div class="container p-4">	

    <h1 class="text-center text-white pb-5">Vote For This Month's Selection</h1>
    
    <div class="row g-4"></div>
        
    <% for(let i=0; i < info.length; i++) {%>
       
        
        <div class="card bg-light col-md-6 col-lg-3 mt-2" >
        <div class="card-body text-center">
        
            <div><a href="/books/book/<%= info[i]._id%>">
                <img class="" src=<%= info[i].thumbnail %>>
            </a></div>
            <div class="card-text mt-1"><%= info[i].name %></div>
            <div class="card-text"n><%= info[i].author %></div>
            <span class="my-1"><%= info[i].likes %></span><span> Votes</span>
            <button class="vote btn btn-secondary text-light my-2">Vote</button><br>
            <div class="bi bi-trash text-danger"></div>
        
    
    </div>
    </div>

    <% } %>

</div>
</div>

</section>
<div class="m-2">
    <a class="btn btn-outline-secondary btn-lg" href="/logout" role="button"> Logout</a>
</div>
    <script src="js/main.js"></script>
    <%- include('partials/footer') -%>