<%- include('partials/header') -%>

	

    <h3>Vote For This Month's Selection</h3>

    <ul class="books">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="book">
            <span><%= info[i].name %></span>
            <span><%= info[i].author %></span>
            <span><img src=<%= info[i].thumbnail %>></span>
            <span><%= info[i].likes %></span>
            <span class='fa fa-thumbs-up'></span>
            <span class='fa fa-trash'></span>
            <span><%= info[i].description %></span>
        </li>
    <% } %>
    </ul>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
    <%- include('partials/footer') -%>