<!DOCTYPE html>
<html lang="en">
<head>
    	<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Shelf Control</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<!-- 	<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css"> -->
</head>
<body>

	<h1>Which Book?</h1>
	<input type="text" name="title" placeholder="title" id="titleInput">
	<input type="text" name="author" placeholder="author" id="authorInput">
	<button type="button" name="button">Get Book</button>

    <div class="bookResult">
	<h2></h2>
	<h4></h4>
	<img src="" alt="">
	<h3></h3>

    </div>

    <ul class="books">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="book">
            <span><%= info[i].name %></span>
            <span><%= info[i].author %></span>
            <span><img src=<%= info[i].thumbnail %>></span>
            <span><%= info[i].likes %></span>
            <span class='fa fa-thumbs-up'></span>
            <span class='fa fa-trash'></span>
            <span><%= info[i].description %></span>
        </li>
    <% } %>
    </ul>

    <script src="js/main.js"></script>
    
</body>
</html>